<brICk>
    <projectName>Sparc EXU ALU</projectName>
    <projectShortName>sparcexualu</projectShortName>
    <tasks>
        <step name="rc">
            <stepBaseDir>components/testchip/units/top/rtl2gds/rtl_compiler</stepBaseDir>
            <subStep name="compile">
                <TCLscript>scripts/Top_pins.rtl.tcl</TCLscript>
                <outputFile>results/rtl_compiler/Top_pins.v</outputFile>
            </subStep>
        </step>
        <step name="encounter">
            <stepBaseDir>components/testchip/units/top/rtl2gds/encounter</stepBaseDir>
            <subStep name="bind">
                <TCLscript>scripts/bind.tcl</TCLscript>
                <outputFile>results/encounter/Top_pins_enc/Top_pins_bind.enc</outputFile>
                <after>compile</after>
            </subStep>
            <subStep name="floorplan">
                <TCLscript>scripts/floorplan.tcl</TCLscript>
                <outputFile>results/encounter/Top_pins_enc/Top_pins_bind.enc</outputFile>
                <after>bind</after>
            </subStep>
        </step>
    </tasks>
</brICk>

